* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
}

.link {
  display: inline-block;
  text-align: center;
  padding: 10px 30px;
  border-radius: 4px;
  background: #3772ff;
  text-transform: uppercase;
  color: #f9f9f9;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}